body {
	margin: 0;
	color: #fff;
	font-family: "Roboto", sans-serif;
	background-color: #054b16;
}

.navigation {
	width: calc(100% - 20px);
	height: 40px;
	background-color: #000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	position: fixed;
}

.navigation li {
	display: inline;
	padding-right: 20px;
}

.navigation img {
	height: 74px;
	padding: 10px;
	margin-top: 15px;
}

a {
	border-radius: 5px;
	padding: 8px 18px;
	color: #fff;
	text-decoration: none;
	font-size: 13px;
}

.current-page {
	border-radius: 15px;
	padding: 8px 18px;
	background-color: #054b16;
}

header {
	height: 100vh;
	background-image: url(images/franklin/franklin-skyline.jpg);
	background-size: cover;
	background-position: top right;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

.intro {
	width: 35%;
}

.intro-flex {
	display: flex;
	align-items: center;
	height: 100vh;
}

.intro p {
	font-size: 16px;
	display: inline-block;
}

.footer {
	width: 90%;
	height: 100%;
	display: block;
	box-sizing: border-box;
	backdrop-filter: blur(10px);
	padding-left: 25%;
	padding-bottom: 20px;
	padding-top: 50px;
}

.inner-footer {
	display: block;
	margin: 0 auto;
	width: 1100px;
	height: 100%;
}

.footer-img {
	background-color: red;
	height: auto;
	width: 100%;
}

.footer-img img {
	height: 80%;
	width: 40%;
}

.inner-footer .footer-img {
	width: 10%;
	float: left;
	height: 90%;
	display: block;
}

.inner-footer .footer-img img {
	width: 250px;
}

.inner-footer .footer-derde {
	width: calc(21.666666666667% - 20px);
	margin-right: 10px;
	float: left;
	height: 80%;
}

.inner-footer .footer-derde:last-child {
	margin-right: 0;
}

.inner-footer .footer-derde h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: white;
	display: block;
	width: 100%;
	margin-bottom: 20px;
}

.inner-footer .footer-derde a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: white;
	display: block;
	font-weight: 200;
	width: 100%;
	padding-bottom: 5px;
}

.inner-footer .footer-derde li {
	display: inline-block;
	padding: 0 5px;
	font-size: 20px;
}

.inner-footer .footer-derde span {
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 200;
	display: block;
	width: 100%;
	padding-top: 20px;
}
